h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

header, main, footer {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}

form {
    text-align:center;
}

hr {
    margin-top: 2px;
}

select {
    height:30px;
}

#instructions {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 0px;
    margin-top: 10px;
}
#imagesContainer {
    text-align:center;
}

.images {
    display:inline-block;
    margin:5px 20px;
    padding:5px;
}

#errorText {
    text-align: center;
    color: red;
    font-size: 1.3em;
}

legend {
    font-style:italic;
}

#radioRed {
    color:#b30000;
}

#radioBlue {
    color:blue;
}

#radioGreen {
    color:#009900;
}

#radioWhite {
    color:grey;
}

.required, .errors {
    color:red;
}

.selectors {
    text-align:left;
    margin-top: 5px;
}

.images {
    border: 2px solid;
    border-radius: 5px;
}

#submitButton {
    margin-top: 10px;
    font-weight:bold;
}

footer {
    margin-top: 50px;
    clear: left;
    font-size: 0.9em;
    color: grey;
}

#footerImage {
    border-radius:30%;
}

fieldset {
    display: inline-block;
    border-radius:5px;
}